:root {
    --color-light: #F2E5BF;
    --color-dark: #D9CEAB;
    --button-background: #FD8B51;
    --plc-available: #37A7BD;
    --plc-unavailable: #BD4D37;
}

* {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #257180;
    box-sizing:border-box
}

html, body {
    margin: 0;
    display: flex;
    background-color: var(--color-light);
    height: 100vh;
    width: 100vw;
}


.page-header {
    height: inherit;
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-dark);
}

.page-logo > img {
    width: 200px;
    height: 112px
}

.page-title > h1 {
    font-size: 50px;
    text-align: center;
}


.page-main {
    height: 100%;
    width: 65%;
    display: flex;
    flex-direction: row;
    padding: 3%;
}

.plc-container {
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.plc-container-header {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 8%;
}

.plc.date-selection {
    width: 5%;
}
.datetime-now {
    margin-top:5%;
}

.plc-time-selection {
    width: 50%;
    padding-left: 2rem;
}
.plc-time-selection > b{
    padding-left: 20%;
}
.slider {
    width: 80%;
    margin-bottom: 0.5rem;
}

.plc-container-main {
    width: 100%;
    height: 55%;
}

.plc-container-legend {
    display:flex;
    width: 100%;
    height: 5%;
    padding-top:1%;
    padding-left:8%;
}
.plc-available-legend {
    width: 50px;
    height: 25px;
    background-color: var(--plc-available);
    border-radius:10px;
    margin-right:2%;
}
.plc-unavailable-legend {
    width: 50px;
    height: 25px;
    background-color: var(--plc-unavailable);
    border-radius: 10px;
    margin-left: 10%;
    margin-right:2%;
}


.info-container {
    height: 100%;
    width: 35%;
    display: flex;
    flex-direction: column;
    overflow:visible;
}

.plc-info-container {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    background-color: var(--color-dark);
    border: 5px solid #79725f;
    border-radius: 30px;
    margin-bottom: 9%;
    padding: 5%;
}

.plc-info-title {
    width: 100%;
    height: 10%;
    margin-bottom:5%;
}
.plc-info-title > h1 {
    font-size: 26px;
}

.plc-info-main {
    width: 100%;
    height: 83%;
}

.plc-info-button {
    width: 100%;
    height: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dev-info-container {
    width: 100%;
    height: 5%;
    display: flex;
    justify-items: center;
    justify-content: center;
}

    .dev-info-container > a {
        text-decoration:none;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
    .dev-info-container > a:hover {
        text-decoration:underline;
    }



/*Addons*/
.controller-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 1em;
}

.radio-group {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: auto;
    height: 100%;
    justify-content: space-evenly;
}

.radio-label {
    width: 200px;
    flex-basis: 15%;
    display: flex;
    align-items: center;
    text-align:center;
    padding: 0.5em;
    margin-bottom: 0.5em;
    background-color: var(--button-background);
    border-radius: 10px;
    font-weight: bold;
    font-size: large;
    transition: background-color 0.2s, border-color 0.2s;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.7);
}

    .radio-label:hover {
        background-color: #FDA273;
    }

.radio-input {
    position: absolute;
    opacity: 0;
}

    .radio-input:checked + .radio-label {
        background-color: #fc6417;
    }

.radio-input:checked {
    content: '';
    display: block;
    width: 0.5em;
    height: 0.5em;
    background-color: #8E432C;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button {
    width:70%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5em;
    margin-left: 40%;
    margin-bottom: 0.5em;
    background-color: var(--button-background);
    border-radius: 10px;
    font-weight: bold;
    font-size: large;
    text-align: center;
    cursor: pointer;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.7);
    border: none;
}

    .button:hover {
        background-color: #FDA273;
    }

    .button:active {
        background-color: #fc6417;
    }


    /*Mobile version*/
@media (max-width: 2000px) and (min-height: 1500px){
    * {
        font-size:26px;
    }
    html, body  {
        flex-direction:column;
    }
    .page-header {
        padding-top:3%;
        height:50%;
        width:100%;
    }
    .page-main {
        width: 100%;
        flex-direction: column;
        height:200%;
    }
    .plc-container {
        width: 100%;
    }
    .plc-container-header {
        flex-direction: column;
        margin-bottom:5%;
    }
    .datetime-now {
        margin-top: 5%;
    }

    .plc-time-selection {
        margin-top:5%;
        width:100%;
    }
    .slider {
        transform:scale(1.2);
    }
        .plc-time-selection > b {
            padding-left: 30%;
        }
    .date-selection {
        width:100%;
        text-align:center;
    }
    .plc-container-main {
        margin-top: 5%;
        margin-bottom: 10%;
    }
    .radio-group {
        height:80%;    
    }
    .radio-label {
        transform:scale(1.4);
    }
    .plc-container-legend {
        margin-bottom:8%;
    }
    .info-container {
        width: 100%;
        height: 50%;
    }
    .plc-info-container {
        height: 100%;
        padding: 5%;
    }
    .dev-info-container {
        margin-bottom: 3%;
    }
    
}