:root {
    --color-light: #F2E5BF;
    --color-dark: #D9CEAB;
    --button-background: #D9CEAB;
    --button-selected: #fd8b51;
    --button-hover: #feb28b;
    --plc-available: #37A7BD;
    --plc-unavailable: #BD4D37;
}

* {
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    color: #257180;
    box-sizing:border-box
}

html, body {
    margin: 0;
    display: flex;
    background-color: var(--color-light);
    height: 100vh;
    width: 100vw;
}


.page-header {
    height: 100%;
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-dark);
}

.page-logo > img {
    width: 200px;
    height: 112px
}

.page-title > h1 {
    font-size: 50px;
    text-align: center;
}

.page-main {
    height: 100%;
    width: 65%;
    padding: 3%;
}

.main-header {
    height: 10%;
    text-align: center
}
.main-header > b {
    font-size:30px;
}

.plc-time-selection {
    padding-right: 15%;
    padding-left: 15%;
    text-align: center
}

.plc-time-selection > b{
    font-size:25px;
}
.slider {
    width: 100%;
    margin-bottom: 0.5rem;
}
.plc-container {
    width:100%;
}

.plc-container-main {
    padding-top:4%;
    width: 100%;
    height: 55%;
}

.main-footer {
    display: flex;
    justify-content:center;
    margin-top:3%;
    height: 10%;
    width: 100%;
}

.plc-container-legend {
    width: 100%;
    display: flex;
    justify-content:center;
}
.plc-available-legend {
    width: 50px;
    height: 25px;
    background-color: var(--color-light);
    border-radius: 10px;
    border: 5px solid var(--plc-available);
    margin-right: 2%;
}
.plc-unavailable-legend {
    width: 50px;
    height: 25px;
    background-color: var(--color-light);
    border-radius: 10px;
    border: 5px solid var(--plc-unavailable);
    margin-left: 10%;
    margin-right:2%;
}

.plc-info-button {
    margin-top:3%;
    width: 100%;
    height: 8%;
    display: flex;
    justify-content:center;
}

.dev-info-container {
    padding-top: 5%;
    width: 100%;
    text-align: left;
    bottom: 0;
    left: 0;
    position: absolute;
}
    .dev-info-container > a {
        text-decoration:none;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
    .dev-info-container > a:hover {
        text-decoration:underline;
    }

/*Addons*/
.controller-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 1em;
}

.radio-group {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: auto;
    height: 100%;
    justify-content: space-evenly;
}

.plc-label {
    width: 200px;
    flex-basis: 15%;
    display: flex;
    align-items: center;
    text-align:center;
    padding: 0.5em;
    margin-bottom: 0.5em;
    background-color: var(--button-background);
    border-radius: 10px;
    font-weight: bold;
    font-size: 24px;
    transition: background-color 0.2s, border-color 0.2s;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.7);
}

.button {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5em;
    margin-bottom: 0.5em;
    background-color: var(--button-selected);
    border-radius: 10px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.7);
    border:none;
}

    .button:hover {
        background-color: var(--button-hover);
    }

    .button:active {
        background-color: var(--button-selected);
    }



@media (max-width: 2000px) and (min-height: 1500px) {

    * {
        font-size: 34px;
    }

    html, body {
        flex-direction: column;
    }

    .page-header {
        width: 100%;
        height: 35%;
    }

    .page-logo > img {
        width: 280px;
        height: 157px
    }

    .page-title > h1 {
        font-size: 70px;
    }

    .page-main {
        width: 100%;
        padding: 3%;
    }

    .main-header > b {
        font-size: 42px;
    }

    .plc-time-selection > b {
        font-size: 35px;
    }

    .slider {
        transform: scale(1.4);
    }

    .controller-row {
        justify-content: space-evenly;
    }

    .radio-group {
        justify-content: space-evenly;
    }

    .plc-label {
        width: 300px;
        font-size: 34px;
        flex-basis:20%;
    }
}
