@keyframes gradientAnimation {
    0% {
        background-color: #a8dbd3;
    }

    20% {
        background-color: #a8dbd7;
    }

    40% {
        background-color: #a8dbca;
    }

    60% {
        background-color: #a8dbca;
    }

    80% {
        background-color: #a8dbd7;
    }

    100% {
        background-color: #a8dbd3;
    }
}

* {
    font-family: 'Roboto', sans-serif;
    color: #152324;
    animation: gradientAnimation 10s ease infinite;
}

html, body {
    height: 100%;
    width: 100%;
}

header {
    display:flex;
    flex-direction:row;
}
    .header-logo {
        width: 20%;
    }
    .header-title{
        width:80%;
        padding-top: 1.5rem;
    }


.index-table {
    width: 95%;
    border-collapse: collapse;
}

.index-table, .index-table th, .index-table td {
    border: 1px solid black;
}

.index-table th, .index-table td {
    padding: 10px;
    text-align: left;
}

.index-table-content {
    background: #bee1e4;
}

.header-container {
    display: flex;
    flex-direction: row;
}

.plc-page {
    width: 90%;
    height: 70%;
    border: 15px solid #55b9b1;
    border-radius: 60px;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.7);
}
    .plc-page-header {
        display:flex;
        flex-direction:row;
        height: 15%;
        margin-left: 1rem;
        margin-right: 1rem;
        margin-top: 1rem;
    }
        .plc-page-header-title {
            width: 20%;
        }

        .plc-page-date-selection {
            width: 30%;
        }

        .plc-page-time-selection {
            width:30%;
        }

    .plc-page-container{
        display: flex;
        flex-direction: row;
        height: 70%;
        margin-left: 1rem;
        margin-right: 1rem;
    }
        .controllers-menu {
            width:60%
        }
        .info-panel {
            display:flex;
            flex-direction:column;
            width:40%
        }
            .info-panel-title {
                height:15%
            }
            .info-panel-data {
                height:85%
            }

    .plc-page-footer {
        display: flex;
        flex-direction: row;
        height: 5%;
        margin-left:1rem;
        margin-right:1rem;
        margin-bottom:1rem;
    }
        .plc-page-legend {
            width: 60%
        }
        .plc-booking-link {
            width:40%
        }


.table-header {
    background: #7db2b6;
}


footer{
    
}
